/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Bb]uilds/
/UserSettings/
/MemoryCaptures/
/Recordings/
*.csproj
*.sln
*.apk
*.aab
*.keystore
*.jks
!Tests/**/*.csproj
**/bin/
**/obj/
quest-config.json
!quest-config.example.json
/.utmp/
